/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

/* ---- FONTS ---- */
@font-face {
  font-family: 'Roboto Condensed';
  //src: url('../fonts/RobotoCondensed-Regular.eot');
  src: //url('../fonts/RobotoCondensed-Regular.eot?#iefix') format('embedded-opentype'),
       //url('../fonts/RobotoCondensed-Regular.woff2') format('woff2'),
       //url('../fonts/RobotoCondensed-Regular.woff') format('woff'),
       url('../fonts/RobotoCondensed-Regular.ttf') format('truetype');
       //url('../fonts/RobotoCondensed-Regular.svg#RobotoCondensed-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Condensed';
  //src: url('../fonts/RobotoCondensed-Light.eot');
  src: //url('../fonts/RobotoCondensed-Light.eot?#iefix') format('embedded-opentype'),
       //url('../fonts/RobotoCondensed-Light.woff2') format('woff2'),
       //url('../fonts/RobotoCondensed-Light.woff') format('woff'),
       url('../fonts/RobotoCondensed-Light.ttf') format('truetype');
       //url('../fonts/RobotoCondensed-Light.svg#RobotoCondensed-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Condensed';
  //src: url('../fonts/RobotoCondensed-LightItalic.eot');
  src: //url('../fonts/RobotoCondensed-LightItalic.eot?#iefix') format('embedded-opentype'),
       //url('../fonts/RobotoCondensed-LightItalic.woff2') format('woff2'),
       //url('../fonts/RobotoCondensed-LightItalic.woff') format('woff'),
       url('../fonts/RobotoCondensed-LightItalic.ttf') format('truetype');
       //url('../fonts/RobotoCondensed-LightItalic.svg#RobotoCondensed-LightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto Condensed';
  //src: url('../fonts/RobotoCondensed-Bold.eot');
  src: //url('../fonts/RobotoCondensed-Bold.eot?#iefix') format('embedded-opentype'),
       //url('../fonts/RobotoCondensed-Bold.woff2') format('woff2'),
       //url('../fonts/RobotoCondensed-Bold.woff') format('woff'),
       url('../fonts/RobotoCondensed-Bold.ttf') format('truetype');
       //url('../fonts/RobotoCondensed-Bold.svg#RobotoCondensed-Bold') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Condensed';
  //src: url('../fonts/RobotoCondensed-BoldItalic.eot');
  src: //url('../fonts/RobotoCondensed-BoldItalic.eot?#iefix') format('embedded-opentype'),
       //url('../fonts/RobotoCondensed-BoldItalic.woff2') format('woff2'),
       //url('../fonts/RobotoCondensed-BoldItalic.woff') format('woff'),
       url('../fonts/RobotoCondensed-BoldItalic.ttf') format('truetype');
       //url('../fonts/RobotoCondensed-BoldItalic.svg#RobotoCondensed-BoldItalic') format('svg');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto Condensed';
  //src: url('../fonts/RobotoCondensed-Italic.eot');
  src: //url('../fonts/RobotoCondensed-Italic.eot?#iefix') format('embedded-opentype'),
       //url('../fonts/RobotoCondensed-Italic.woff2') format('woff2'),
       //url('../fonts/RobotoCondensed-Italic.woff') format('woff'),
       url('../fonts/RobotoCondensed-Italic.ttf') format('truetype');
       //url('../fonts/RobotoCondensed-Italic.svg#RobotoCondensed-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
}

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "override-variables";
@import "www/lib/ionic/scss/ionic";
@import "style";
@import "news";
