/* ---- LIST ---- */
.item-thumbnail-left, .item-thumbnail-left .item-content {
	padding-left: 27%;
}

.img-container{
  width: 25%;
  height: 100%;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  img {
    width: 100%;
    height: 100%;
  }
}

.width-100 {
  width: 100%; 
}