#map {
    height: 100%;
    width: 100%;
}

.scroll {
    height: 100%;
}

.angular-google-map-container {
   position: absolute;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
}

.text-uppercase{
  text-transform: uppercase;
}
/* ---- HEADER ---- */
.bar.bar-stable {
  background-image: none;
  background-color: #212d55;
  border-bottom: #212d55;
}
.bar.bar-stable.inner-page {
  background-color: #4aa176;
  border-bottom: #4aa176;
}
.bar.bar-stable .title{
  color: white;
  font-weight: 600;
}

.bar-stable .button{
	background-color: transparent;
	color: white;
}

.bar-stable .button:hover{
	color: white;
}

.bar-stable .button.activated{
	background-color: transparent;
}

.bar-stable .button .icon:before{
	font-size: 35px;
}

.bar-stable .button.button-clear {
    color: white;
}
/* ---- MENÙ ---- */
.background-menu{
}

.logo-menu{
    padding: 30% 0;
}

.logo-menu img{
    width: 80%;
}

.menu{
	width: 100%;
	min-height: inherit;
}

.menu .item{
  padding: 16px;
  padding-left: 50px;
  position: relative;
  line-height: 17px;
  font-weight: bold;
}

.menu .item i{
	font-size: 24px;
	padding-right: 20px;
	color: #212d55;
  margin: auto;
  top: 0;
  bottom: 0;
  height: 24px;
}

.menu .item .ion-chevron-right{
	right: 5px;
  position: absolute;
  font-size: 20px;
  height: 20px;
}

.menu .item .menu-icon {
  left: 16px;
  position:absolute;
}

/* ---- CHI SIAMO ---- */
.text-container{
  padding: 5px 26px;
  text-align: justify;
}

.text-container .button.button-stable{
  font-size: 13px;
  font-weight: bold;
}

.initial-banner{
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* ---- SPLASH ---- */
.background-splash{
	background: url(../img/splash.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

.background-splash .logo-container{
	padding-bottom: 20px;
	padding-top: 100px;
}

.background-splash .logo-container img{
    width: 80%;
}

.slogan{
	padding: 10px 0;
	width: 80%;
	margin: 0 10%;
	text-align: center;
	color: white;
  font-size: 19px;
	line-height: 22px;
}

.background-splash .button-splash{
	width: 80%;
	margin: 0 10%;
  margin-top: 18%;
  border-radius: 0;
	background-color: #4aa176;
	font-size: 20px;
}

.background-splash .button-splash.activated{
	background-color: #4aa176;
}

.info-address{
	width: 80%;
	margin: 0 10%;
  margin-top: 75px;
}

.info-address .row {    
	padding: 6px 5px;
}

.info-address .row .col{
	color: white;
  font-size: 13px;
	position: relative;
  padding: 0;
  padding-right: 0;
  padding-left: 23px;
  line-height: 14px;
  font-weight: bold;
  line-height: 20px;
}

.info-address .row .col.right{
	float: right;
	text-align: right;
	font-weight: bold;
}

.info-address .row .col a{
	color: white;
	text-decoration: none;
}

.info-address .row i{
	position: absolute;
	left:0;
	font-size: 18px;
}

/* ----- CREDITS ----- */
.background-credits{
	background: url(../img/sfondo_credits.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

.background-credits .credits{
	padding-top: 50%;
}

.background-credits .credits img{
  width: 60%;
}

.background-credits .slogan{
  color:#c1c1c1;
}

/* ----- NEWS LIST ------ */
.list-item .list-content h2{
  color:#4aa176;
  font-weight: bold;
}

.list-item  .item-thumbnail-left, .item-thumbnail-left .item-content{
  padding-top: 16px;
}

.list-item .item-content{
  padding-left: 129px!important;
}

.list-item p {
  white-space: normal;
  max-height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list-item .img-container{
  width: 113px;
}

/* ----- CONTACT ----- */
#contact-map {
  width: 100%;
  height: 300px;
  position: relative;
  margin-bottom:10px;
}

.contact-form {
  width: 100%;
}

.contact-form .input-label {
  font-weight: bold;
}
  
.contact-form input[type='text']::-webkit-input-placeholder, input[type='text']::-webkit-input-placeholder,
input[type='email']::-webkit-input-placeholder, input[type='email']::-webkit-input-placeholder, textarea::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #999;
  font-style: italic;
  width: 100%;
}

.contact-form .item-checkbox {
  font-size: small;
  border: none;
  padding: 0;
  margin: 0;
  padding-top: 10px;
}

.contact-form .item-checkbox .checkbox {
  left: 0;
}

.contact-form .item-checkbox .checkbox input,.checkbox-icon{
  width: 26px;
  height: 26px;
}

.contact-form .item-checkbox .item-content {
  padding-left: 40px;
  white-space: normal;
  font-size: 10px;
  text-align: left;
}
  
.contact-form button {
  text-transform: uppercase;
  margin: 0;
  background-color: #4aa176!important;
  border-radius: 0;
  width: 80%;
  margin-left: 20%;
  padding-right:7px;
}

.contact-form .checkbox {
    padding: 7px 0;
}

label.item.has-error {  
  border-bottom: 2px solid $assertive;
}

/** Styling for the password field when an error has been resolved**/
label.item.valid{  
  border-bottom: 2px solid $positive;
}

/** Styling for the error text and container **/
.form-errors{
  margin: 5px 0;
}
.form-errors .input-label{
  color: red;
}
.form-errors .item-checkbox{
  color: red;
}
.form-error{
  padding: 2px 0 2px 16px;
  color: red;
}

.contact-information{
  width: 100%;
  margin: 10px 0;
}

.contact-information .row{
  padding: 5px;
}

.contact-information .row .col a{
  color: #444;
}
.contact-information .row i {
    font-size: 20px;
}

#contact-map .map-not-available{
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 120px;
  font-size: 20px;
  line-height: 26px;
  color: red;
}

/* ----- FOOTER ----- */
.bar.bar-royal{
	background-color: #4aa176;
	border-top: 1px solid #4aa176;
}

.bar.bar-royal.bar-footer{
    background-image: none;
}

.bar.bar-royal .button.button-clear{
	font-size: 10px;
  font-weight: bold;
}

.footer-two-line.bar.bar-royal .button.button-clear{
  font-size: 11px;
  line-height: 13px;
  font-weight: bold;
  padding-top: 3px;
}

.bar.bar-royal.bar-footer .button.button-clear{
  font-size: 13px;
}

.bar.bar-footer.bar-royal .col{
  padding: 0 5px;
}

.bar.bar-royal .col .sub-col{
  width: 25%;
  float: left;
}

.bar.bar-footer.bar-royal .col.social-footer{
  padding-top: 6px;
}

.bar.bar-footer.bar-royal .col .sub-col{
  width: 20%;
}

.bar.bar-footer.bar-royal .col.social-footer a{
  color:white;
}

.bar.bar-footer.bar-royal .col.social-footer i{
  font-size: 20px;
}

.bar.bar-footer.bar-royal .col.language{
  font-size: 13px;
  font-weight: bold;
  padding-top: 7px;
  text-align: right;
}

.bar.bar-footer.bar-royal .col.language .arrow-footer{
  font-size: 16px;
}

/* RIPPLE */
[ripple]{
  overflow: hidden;
}

.rip {
display: block;
position: absolute;
background:rgba(255, 255, 255, 0.3);
border-radius: 100%;
-webkit-transform:scale(0);
   -moz-transform:scale(0);
     -o-transform:scale(0);
        transform:scale(0);
}

.animate-ripple {
-webkit-animation:ripple 0.65s linear;
 -moz-animation:ripple 0.65s linear;
  -ms-animation:ripple 0.65s linear;
   -o-animation:ripple 0.65s linear;
      animation:ripple 0.65s linear;
}

@-webkit-keyframes ripple {
  100% {opacity: 0; -webkit-transform: scale(2.5);}
}
@-moz-keyframes ripple {
  100% {opacity: 0; -moz-transform: scale(2.5);}
}
@-o-keyframes ripple {
  100% {opacity: 0; -o-transform: scale(2.5);}
}
@keyframes ripple {
  100% {opacity: 0; transform: scale(2.5);}
}

/* ----- TOGGLE ----- */
.list .item.item-stable {
  text-align: left;
  text-transform: uppercase;
  font-size: 13px;
}

.list .item-icon-right .icon {
  right: 6px;
  font-size: 20px;
}

.list .item.item-accordion {
  line-height: 20px;
  padding:0;
  padding-top: 15px;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

.list .item.item-accordion p{
  font-size: 14px;
  line-height: 19px;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align:left;
}

.list .item.item-accordion .row-space{
  padding:15px;
}

.list .item.item-accordion .row-bottom{
  border-bottom:1px dotted #ddd;
}

.list .item.item-accordion .row-bottom:last-child{
  border-bottom:none;
}

.product-element .row img{
  width: 72px;
}

.product-element .row .full-img{
  width: 100%;
}

.product-element .row .full-img.active{
  position:absolute;
  top:0;
  left:0;
  right: 0;
  bottom:0;
}

.product-element .row .full-img.disabled{
}

/* ---- SPINNER ---- */
.spinner svg {
  width: 28px;
  height: 28px;
  stroke: #4aa176;
  fill: #4aa176;
}

/* ---- PRODOTTI ---- */
.button.product-info{
  background-color: #4aa176;
  color: white;
  border-radius: 0;
  margin-top:20px;
}

.button.product-info:hover {
  color: white;
  background-color: #4aa176;
}

.title-product{
  margin: 0;
}

.description-product{
  margin: 20px 0;
}

/* ---- SWIPER ---- */
.swiper-container{
  height: 60%;
}

.swiper-slide{
  width:100%!important;
}

.swiper-slide .swiper-element{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.swiper-button-prev{
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E")!important;
  background-color: rgba(0,0,0,.6);
}

.swiper-button-next{
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E")!important;
  background-color: rgba(0,0,0,.6);
}

.swiper-button-next, .swiper-button-prev{
  width: 50px!important;
  height: 65px!important;
  background-size: 16px 40px!important;
}

/* ---- NOTIFICATION ---- */
.notification-active a{
	background-color: #dddddd!important;
}

.notification-disactive a{
	background-color: white!important;
}

.button.button-assertive{
	border:1px solid transparent;
}

.notification  a .list-content{
	position:relative;
	padding-left: 20px !important;
}

.notification-active-pointer{
	display:none;
}

.notification-active a .list-content .notification-active-pointer{
	display:block;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 4px;
  left: -1px;
  background-color: red;
  z-index: 9999;
  border-radius: 50%;
}

.notify-number{
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-left: 15px;
	background-color: red;
	border-radius: 50%;
	color: white;
	font-size: 14px;
	padding-left: 6px;
	padding-top: 2px;
}

.no-notification{
  text-align: center;
  font-size: 20px;
  padding-top: 54px;
}


/* -------- RESPONDIVE DESIGN ------- */

@media (min-width: 640px){
  .logo-menu {
    padding: 20% 0;
  }
  .logo-menu img {
    width: 50%;
  }
  .swiper-container {
    height: 80%;
  }
  .initial-banner {
    height: 40%;
  }
}

@media (max-width: 600px){
  .bar.bar-royal.bar-footer .button.button-clear {
    font-size: 8px;
  }
  .bar.bar-footer.bar-royal .col.language{
    font-size: 11px;
    padding-top: 4px;
  }
  .bar.bar-footer.bar-royal .col.social-footer i {
    font-size: 15px;
  }
}