<ion-view hide-nav-bar="false" view-title="CREDITS" hide-back-button="false">
  <ion-content class="background-credits has-footer">
    <div class="text-center credits">
      <img src="img/gas_logo.png">
    </div>
    <div class="slogan">
      WE GROW WHEN WE SHARE
    </div>
  </ion-content>
  <div class="bar bar-footer bar-royal footer-two-line">
    <a class="button button-clear uppercase" onclick="window.open('http://www.gasweb.it/', '_blank', 'location=yes'); return false;">
      {{ 'CREDITS.OUR_SITE' | translate}}<br>
      gasweb.it
    </a>

    <a class="button button-clear uppercase" ng-click="writeEmail()">
      {{ 'CREDITS.FOR_INFORMATION' | translate}}<br>info@gasweb.it
    </a>
  </div>
</ion-view>