<ion-view hide-nav-bar="true" view-title="SPLASH">
  <ion-content class="background-splash has-footer">
    <div class="text-center logo-container">
      <img src="img/logo.png">
    </div>
    <div class="slogan">
      {{ 'SLOGAN.PART-1' | translate}}
      <br>
      {{ 'SLOGAN.PART-2' | translate}}
      <br>
      {{ 'SLOGAN.PART-3' | translate}}
    </div>


    <a ripple class="button button-royal button-splash" on-tap="goURL()" ng-disabled="disabledButton">
      {{ 'DISCOVER_BUTTON' | translate}}
    </a>

    <div class="info-address">
      <div class="row">
        <!-- ORIGINAL
        <a href="#" ng-click="launchNavigation()">
        -->
        <div class="col">
          <a href="#" ng-click="launchNavigation()">
            <i class="icon ion-location"></i>
            <span class="text">
              Via Roma, 23 - 37060 Mozzecane (VR) - Italy
            </span>
          </a>
        </div>
      </div>
      <div class="row" ng-click="callPhone()">
        <div class="col">
          <a href="#">
            <i class="icon ion-android-call"></i>
            <span class="text">
              +39 0457930179
            </span>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <a href="#" ng-click="writeEmail()">
            <i class="icon ion-at"></i>
            <span class="text">
              info@idromecspa.com
            </span>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <i class="icon ion-ios-medical"></i>
          <span class="text">
            P.I. IT02254990233
          </span>
        </div>
        <!-- ORIGINAL
        <a href="#" ng-click="writeEmail()">
        -->
        <div class="col right" ui-sref="app.credits">
          <span class="text">
            CREDITS
          </span>
        </div>
      </div>
    </div>
  </ion-content>
  <div class="bar bar-footer bar-royal">
    <div class="col">
      <a class="button button-clear uppercase" onclick="window.open('https://idromecspa.com/', '_blank', 'location=yes'); return false;">
        IDROMECSPA.COM
      </a>
    </div>

    <div class="col social-footer">
      <div class="sub-col text-center" onclick="window.open('https://www.facebook.com/IdromecSpa', '_blank', 'location=yes'); return false;">
        <i class="icon ion-social-facebook"></i>
      </div>
      <div class="sub-col text-center" onclick="window.open('https://twitter.com/IdromecSpa', '_blank', 'location=yes'); return false;">
        <i class="icon ion-social-twitter"></i>
      </div>
      <div class="sub-col text-center" onclick="window.open('https://www.youtube.com/user/idromecspa?sub_confirmation=1', '_blank', 'location=yes'); return false;">
        <i class="icon ion-social-youtube"></i>
      </div>
      <div class="sub-col text-center" onclick="window.open('https://www.instagram.com/idromec_spa/', '_blank', 'location=yes'); return false;">
        <i class="icon ion-social-instagram-outline"></i>
      </div>
      <div class="sub-col text-center" onclick="window.open('https://www.linkedin.com/company/10953581?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A10953581%2Cidx%3A1-1-1%2CtarId%3A1477483703738%2Ctas%3Aidromec%20spa', '_blank', 'location=yes'); return false;">
        <i class="icon ion-social-linkedin"></i>
      </div>
    </div>

    <div class="col language" ng-click="changeLanguage()">
      {{ 'OTHER_LANGUAGE_VERSION' | translate}} <span class="arrow-footer">&#187;</span>
    </div>
  </div>
</ion-view>
