<ion-view view-title="{{title}}" hide-back-button="false">
	<ion-nav-bar class="bar-stable inner-page">
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-buttons side="secondary">
	    <button class="button" ui-sref="app.menu">
	      <i class="icon ion-navicon"></i>
	    </button>
	  </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="has-header has-footer">
    <ion-list>
      <ion-item ng-repeat="b in balersType" class="list-item item-thumbnail-left item-icon-right" ui-sref="app.wordpress_pages.balers_detail({id: b.id})">
        <div class="img-container">
          <img ng-src="{{b.acf.immagine_app}}">
        </div>
        <div class="list-content">
          <h2 ng-bind-html="b.title.rendered"></h2>
          <p ng-bind-html="b.acf.preview_app"></p>
        </div>
        <i class="icon ion-chevron-right icon-next-list"></i>
      </ion-item>
    </ion-list>
  </ion-content>

  <ng-include src="'js/shared/views/footer_app.html'">
</ion-view>
