<ion-view view-title="{{title}}" hide-back-button="true"> 
  <ion-nav-bar class="bar-stable">
    <ion-nav-buttons side="secondary">
      <button class="button" ui-sref="app.menu">
        <i class="icon ion-navicon"></i>
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="has-header has-footer">
    <ion-list>
      <ion-item ng-repeat="b in balers" class="list-item item-thumbnail-left item-icon-right"
        ui-sref="app.wordpress_pages.balers_type({id: b.id,title: b.title.rendered})">
        <div class="img-container">
          <img ng-src="{{b.acf.immagine_app}}">
        </div>
        <div class="list-content">
          <h2 ng-bind-html="b.title.rendered"></h2>
          <p ng-bind-html="b.acf.preview_app"></p>
        </div>
        <i class="icon ion-chevron-right icon-next-list"></i>
      </ion-item>
    </ion-list>
  </ion-content>
  
  <ng-include src="'js/shared/views/footer_app.html'">
</ion-view>
