<ion-view hide-back-button="false" >
	<ion-nav-bar class="bar-stable inner-page">
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-buttons side="secondary">
	    <button class="button" ui-sref="app.menu">
	      <i class="icon ion-navicon"></i>
	    </button>
	  </ion-nav-buttons>
    <ion-nav-title ng-bind-html="balersDetail.title.rendered"></ion-nav-title>
  </ion-nav-bar>
  <ion-content class="has-header has-footer">
    <ks-swiper-container swiper="swiper" on-ready="onReadySwiper(swiper)" initial-slide="0" space-between="0" show-nav-buttons="true" slides-per-view="1"  pagination-clickable="true" ng-hide="hideElement">
      <ks-swiper-slide class="swiper-slide" ng-repeat="balers_img in balersDetail.acf.galleria_app">
        <div class="swiper-element" style="background-image:url('{{balers_img.url}}')"></div>
      </ks-swiper-slide>
    </ks-swiper-container>

    <div class="text-container">
      <div class="row">
        <div class="col">
          <h4 class="title-product" ng-bind-html="balersDetail.title.rendered"></h4>
          <div class="description-product" ng-bind-html="balersDetail.acf.descrizione_app"></div>
          <ion-list>
            <ion-item-accordion ng-repeat="b in balersDetail.acf.specifiche" title="{{b.titolo}}" icon-align="right" icon-close="ion-chevron-right" icon-open="ion-chevron-down" ng-hide="hideElement" class="product-element">
              <div ng-if="b.acf_fc_layout == 'testo'" class="toggle-text row-space" ng-bind-html="b.descrizione">
              </div>
              <div ng-if="b.acf_fc_layout == 'dati-tecnici'" class="row-space">
                <div class="row">
                  <div class="col-33">
                    <img ng-src="{{b.immagine_1}}">
                  </div>
                  <div class="col-67"  ng-bind-html="b.descrizione_1">
                  </div>
                </div>
                <div class="row">
                  <div class="col-33">
                    <img ng-src="{{b.immagine_2}}">
                  </div>
                  <div class="col-67" ng-bind-html="b.descrizione_2">
                  </div>
                </div>
                <div class="row">
                  <div class="col-33">
                    <img ng-src="{{b.immagine_3}}">
                  </div>
                  <div class="col-67"  ng-bind-html="b.descrizione_3">
                  </div>
                </div>
                <div class="row">
                  <div class="col-33">
                    <img ng-src="{{b.immagine_4}}">
                  </div>
                  <div class="col-67" ng-bind-html="b.descrizione_4">
                  </div>
                </div>
              </div>
              <div ng-if="b.acf_fc_layout == 'immagine-testo'">
                <div class="row-bottom" ng-repeat="item in b.elementi_cassa">
                  <div class="row">
                    <div class="col">
                      <img class="full-img" ng-src="{{item.immagine}}">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col" ng-bind-html="item.testo">
                    </div>
                  </div>
                </div>
              </div>
            </ion-item-accordion>
          </ion-list>
          <button ng-hide="hideElement" class="button button-stable width-100 product-info" ui-sref="app.contact({title: '{{'BALERS.REQUEST_INFO_CONTACT' | translate}}' + balersDetail.title.rendered})">
            {{ 'BALERS.REQUEST_INFO' | translate }}
          </button>
        </div>
      </div>
    </div>
  </ion-content>

  <ng-include src="'js/shared/views/footer_app.html'">
</ion-view>