<ion-view hide-nav-bar="false" hide-back-button="false" cache-view="true">
  <ion-nav-bar class="bar-stable inner-page">
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-buttons side="secondary">
      <button class="button" ui-sref="app.menu">
        <i class="icon ion-navicon"></i>
      </button>
    </ion-nav-buttons>
    <ion-nav-title ng-bind-html="title"></ion-nav-title> <!-- se si mette su ion-nav non va il title -->
  </ion-nav-bar>

  <ion-content class="has-header has-footer">

    <div class="width-100 initial-banner" style="{{imageStyle}}">
    </div>
    
    <div class="text-container">
      <div class="row">
        <div class="col">
          <div ng-bind-html="text"></div>
        </div>
      </div>
    </div>

  </ion-content>
  
  <ng-include src="'js/shared/views/footer_app.html'">
</ion-view>