<ion-view hide-nav-bar="false" hide-back-button="false">
	<ion-nav-bar class="bar-stable inner-page">
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-buttons side="secondary">
	    <button class="button" ui-sref="app.menu">
	      <i class="icon ion-navicon"></i>
	    </button>
	  </ion-nav-buttons>
	  <ion-nav-title ng-bind-html="news.title.rendered"></ion-nav-title> <!-- se si mette su ion-nav non va il title -->
  </ion-nav-bar>
  
  <ion-content class="news-page has-header has-footer ">

    <img class="width-100" ng-src="{{news.acf.immagine_app}}">
    <div class="text-container">
      <div class="row">
        <div class="col">
          <h4 ng-bind-html="news.title.rendered"></h4>
          <div ng-bind-html="news.acf.testo_app"></div>
        </div>
      </div>
    </div>
  </ion-content>
  
  <ng-include src="'js/shared/views/footer_app.html'">
</ion-view>