<ion-view hide-nav-bar="false" view-title="NEWS" hide-back-button="true">
  <ion-nav-buttons side="secondary">
    <button class="button" ui-sref="app.menu">
      <i class="icon ion-navicon"></i>
    </button>
  </ion-nav-buttons>
  <ion-content class="has-header has-footer news">
    <ion-list>
      <ion-item ng-repeat="n in news" class="list-item item-thumbnail-left item-icon-right"
        ui-sref="app.wordpress_pages.news_detail({id: n.id})">
        <div class="img-container">
          <img ng-src="{{n.acf.immagine_app}}">
        </div>
        <div class="list-content">
          <h2 ng-bind-html="n.title.rendered"></h2>
          <p ng-bind-html="n.acf.preview_app" class="ng-binding"></p>
        </div>
        <i class="icon ion-chevron-right icon-next-list"></i>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll
      ng-if="moreDataCanBeLoaded()"
      icon="ion-loading-c"
      on-infinite="loadMoreData()">
    </ion-infinite-scroll>
  </ion-content>
  
  <ng-include src="'js/shared/views/footer_app.html'">
</ion-view>