<ion-view view-title="{{ 'USED.TITLE' | translate }}" hide-back-button="true" cache-view="true"> 
  <ion-nav-bar class="bar-stable">
    <ion-nav-buttons side="secondary">
      <button class="button" ui-sref="app.menu">
        <i class="icon ion-navicon"></i>
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="has-header has-footer">
    <ion-list>
      <ion-item ng-repeat="u in used" class="list-item item-thumbnail-left item-icon-right"
        ui-sref="app.wordpress_pages.balers_detail({id: u.id,title: u.title.rendered})">
        <div class="img-container">
          <img ng-src="{{u.acf.immagine_app}}">
        </div>
        <div class="list-content">
          <h2 ng-bind-html="u.title.rendered"></h2>
          <p ng-bind-html="u.acf.preview_app"></p>
        </div>
        <i class="icon ion-chevron-right icon-next-list"></i>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll
      ng-if="moreDataCanBeLoaded()"
      icon="ion-loading-c"
      on-infinite="loadMoreData()">
    </ion-infinite-scroll>
  </ion-content>
  
  <ng-include src="'js/shared/views/footer_app.html'">
</ion-view>