<ion-view hide-nav-bar="false" view-title="{{ 'WHO_WE_ARE.TITLE' | translate }}" hide-back-button="true" cache-view="false">
  <ion-nav-buttons side="secondary">
    <button class="button" ui-sref="app.menu">
      <i class="icon ion-navicon"></i>
    </button>
  </ion-nav-buttons>

  <ion-content class="has-header has-footer">

    <div class="width-100 initial-banner" style="{{imageStyle}}">
    </div>
    
    <div class="text-container">
      <div class="row">
        <div class="col">
          <div ng-bind-html="text"></div>
        </div>
      </div>
      <div class="row">
        <div class="col col-100">
          <button ng-hide="hideButton" class="button button-stable width-100" ui-sref="app.wordpress_pages.history">
            {{ 'HISTORY' | translate }}
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col col-100">
          <button ng-hide="hideButton" class="button button-stable width-100" ui-sref="app.wordpress_pages.mission">
            {{ 'MISSION' | translate }}
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col col-100">
          <button ng-hide="hideButton" class="button button-stable width-100" ui-sref="app.wordpress_pages.vision">
            {{ 'VISION' | translate }}
          </button>
        </div>
      </div>
    </div>

  </ion-content>
  
  <ng-include src="'js/shared/views/footer_app.html'">
</ion-view>