<ion-view hide-nav-bar="false" view-title="{{ 'NOTIFICATION.TITLE' | translate }}" hide-back-button="true" cache-view="false">
  <ion-nav-buttons side="secondary">
    <button class="button" ui-sref="app.menu">
      <i class="icon ion-navicon"></i>
    </button>
  </ion-nav-buttons>
  <ion-content class="has-header has-footer">
    <ion-list>
      <ion-item ng-if="notification != 0" ng-repeat="n in notification" class="list-item item-thumbnail-left item-icon-right notification"
        ui-sref="{{n.acf.is_news ? 'app.wordpress_pages.news_detail({id: n.acf.id_macchina})' : 'app.wordpress_pages.balers_detail({id: n.acf.id_macchina})'}}" ng-click="setLocalStorage(n.id)" ng-class=" getViewedNotification(n.id) ? 'notification-disactive' : 'notification-active'">
        <div class="img-container">
          <img ng-src="{{n.acf.immagine_app}}">
        </div>
        <div class="list-content">
					<div class="notification-active-pointer">
					</div>
          <h2 ng-bind-html="n.title.rendered"></h2>
          <p ng-bind-html="n.content.rendered" class="ng-binding"></p>
        </div>
        <i class="icon ion-chevron-right icon-next-list"></i>

				<ion-option-button class="button-assertive" ng-click="delete(n)">
				  ELIMINA
				</ion-option-button>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll
      ng-if="moreDataCanBeLoaded() && notification != 0"
      icon="ion-loading-c"
      on-infinite="loadMoreData()">
    </ion-infinite-scroll>
		<div ng-hide="hideTextMap" ng-if="notification == 0" class="no-notification">
			{{ 'NOTIFICATION.NO_NOTIFICATION' | translate }}
		</div>
  </ion-content>
  <ng-include src="'js/shared/views/footer_app.html'">
</ion-view>