<div class="bar bar-footer bar-royal">
  <div class="col">
    <a class="button button-clear uppercase" onclick="window.open('https://idromecspa.com/', '_blank', 'location=yes'); return false;">
      IDROMECSPA.COM
    </a>
  </div>
  <div class="col social-footer">
    <a class="sub-col text-center" onclick="window.open('https://www.facebook.com/IdromecSpa', '_blank', 'location=yes'); return false;">
      <i class="icon ion-social-facebook"></i>
    </a>
    <a class="sub-col text-center" onclick="window.open('https://twitter.com/IdromecSpa', '_blank', 'location=yes'); return false;">
      <i class="icon ion-social-twitter"></i>
    </a>
    <a class="sub-col text-center" onclick="window.open('https://www.youtube.com/user/idromecspa?sub_confirmation=1', '_blank', 'location=yes'); return false;">
      <i class="icon ion-social-youtube"></i>
    </a>
    <a class="sub-col text-center" onclick="window.open('https://www.instagram.com/idromec_spa/', '_blank', 'location=yes'); return false;">
      <i class="icon ion-social-instagram-outline"></i>
    </a>
    <a class="sub-col text-center" onclick="window.open('https://www.linkedin.com/company/10953581?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A10953581%2Cidx%3A1-1-1%2CtarId%3A1477483703738%2Ctas%3Aidromec%20spa', '_blank', 'location=yes'); return false;">
      <i class="icon ion-social-linkedin"></i>
    </a>
  </div>
</div>
