<ion-view id="contact" view-title="{{ 'CONTACTS' | translate }} " hide-back-button="true"> 
  <ion-nav-buttons side="secondary">
    <button class="button" ui-sref="app.menu">
      <i class="icon ion-navicon"></i>
    </button>
  </ion-nav-buttons>
  <ion-content class="has-header has-footer">
    <div id="contact-map" >
      <ui-gmap-google-map center='map.center' zoom='map.zoom' options="options" data-tap-disabled="true">
        <ui-gmap-marker 
          coords="map.marker.coords"
          idKey="map.marker.key"
          click="launchNavigation()">
        </ui-gmap-marker>
      </ui-gmap-google-map>
      <div class="map-not-available">
        <div ng-hide="hideTextMap">
          {{ 'NO_CONNECTION.MAP_CONNECTION_1' | translate }}
          <br>
          {{ 'NO_CONNECTION.MAP_CONNECTION_2' | translate }}
        </div>
      </div>
    </div>
    
    <div class="text-container">
      <div class="row">
        <form name="contactForm" class="contact-form" novalidate="" ng-submit="submitContact(contactForm)"> 
          <div class="list">
            <label ng-class="(contactForm.$submitted || contactForm.name.$dirty) && contactForm.name.$invalid ? 'item item-input item-without-border item-stacked-label form-errors' : 'item item-input item-without-border item-stacked-label'" >
              <span class="input-label">{{ 'NAME' | translate }}</span>
              <input type="text" name="name" placeholder="{{ 'INSERT_NAME' | translate }}"
                ng-model="contact.name"
                required>
            </label>
            <label ng-class="(contactForm.$submitted || contactForm.name.$dirty) && contactForm.surname.$invalid ? 'item item-input item-without-border item-stacked-label form-errors' : 'item item-input item-without-border item-stacked-label'" >
              <span class="input-label">{{ 'SURNAME' | translate }}</span>
              <input type="text" name="surname" placeholder="{{ 'INSERT_SURNAME' | translate }}"
                ng-model="contact.surname"
                ng-minlength="1"
                required>
            </label>
            <label ng-class="(contactForm.$submitted || contactForm.name.$dirty) && contactForm.email.$invalid ? 'item item-input item-without-border item-stacked-label form-errors' : 'item item-input item-without-border item-stacked-label'" >
              <span class="input-label">{{ 'EMAIL' | translate }}</span>
              <input type="email" name="email" placeholder="{{ 'INSERT_EMAIL' | translate }}"
                ng-model="contact.email"
                ng-minlength="1"
                required>
            </label>
            <label ng-class="(contactForm.$submitted || contactForm.name.$dirty) && contactForm.request.$invalid ? 'item item-input item-without-border item-stacked-label form-errors' : 'item item-input item-without-border item-stacked-label'" >
              <span class="input-label">{{ 'REQUEST' | translate }}</span>
              <textarea name="request" placeholder="{{ 'INSERT_REQUEST' | translate }}"             
                ng-model="contact.request"
                ng-minlength="1"
                required
                data-ng-init="contact.request = title">
              </textarea>
            </label>
          </div>
          
          <div class="row">
            <div class="col-50">
              <ion-checkbox name="privacy" ng-class="(contactForm.$submitted || contactForm.privacy.$dirty) && !contact.privacy ? 'item-without-border form-errors' : 'item-without-border'"
               ng-model="contact.privacy"
                required
              >{{ 'PRIVACY_DISCLAIMER' | translate }}</ion-checkbox>
            </div>
            <div class="col-50">
              <button class="button button-block button-royal" type="submit">
                {{ 'SEND' | translate }}
              </button>
            </div>
          </div>
        </form>
      </div>
      
      <div class="info-address contact-information">
        <div class="row">
          <!-- ORIGINAL
          <a href="#" ng-click="launchNavigation()">
          -->
          <div class="col">
            <a href="#" ng-click="launchNavigation()">
              <i class="icon ion-location"></i>
              <span class="text">
                Via Roma, 23 - 37060 Mozzecane (VR) - Italy
              </span>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col" ng-click="callPhone()">
            <a href="#">
              <i class="icon ion-android-call"></i>
              <span class="text">
                +39 0457930179 
              </span>
            </a>
          </div>
          <div class="col">
            <a href="#" ng-click="writeEmail()">
              <i class="icon ion-at"></i>
              <span class="text">
                info@idromecspa.com
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
  <ng-include src="'js/shared/views/footer_app.html'">
</ion-view>