<ion-view hide-nav-bar="false" view-title="IDROMEC" hide-back-button="true" cache-view="false">
  <ion-content class="has-header has-footer">
    <div class="background-splash background-menu">
      <div class="text-center logo-menu">
        <img src="img/logo.png">
      </div>
    </div>

    <ul class="list menu">
      <li class="item last" ui-sref="app.notification">
        <i class="icon ion-ios-bell menu-icon"></i>{{'MENU.NOTIFICATION' | translate}} <div ng-if="numeroNotifiche > 0" class="notify-number">{{numeroNotifiche}}</div>
        <i class="icon ion-chevron-right"></i>
      </li>
      <li class="item" ui-sref="app.wordpress_pages.who_we_are">
        <i class="icon ion-home menu-icon"></i> {{ 'MENU.ABOUT_US' | translate}}
        <i class="icon ion-chevron-right"></i>
      </li>
      <li class="item" ui-sref="app.wordpress_pages.balers({slug: '{{'BALERS.URL' | translate}}',title: '{{ 'BALERS.TITLE' | translate }}'})">
        <i class="icon ion-code-download menu-icon"></i> {{ 'MENU.BALERS' | translate}}
        <i class="icon ion-chevron-right"></i>
      </li>
      <li class="item" ui-sref="app.wordpress_pages.balers({slug: '{{'SHEAR_BALERS.URL' | translate}}',title: '{{ 'SHEAR_BALERS.TITLE' | translate }}'})">
        <i class="icon ion-code-working menu-icon"></i> {{ 'MENU.SHEAR-BALERS' | translate}}
        <i class="icon ion-chevron-right"></i>
      </li>
      <li class="item" ui-sref="app.wordpress_pages.balers_no_subcategory({slug: '{{'MULTI_MATERIAL_BALERS.URL' | translate}}'})">
        <i class="icon ion-navicon menu-icon"></i> {{ 'MENU.MULTI_MATERIAL_BALERS' | translate}}
        <i class="icon ion-chevron-right"></i>
      </li>
      <li class="item" ui-sref="app.wordpress_pages.used">
        <i class="icon ion-gear-b menu-icon"></i> {{ 'MENU.USED' | translate}}
        <i class="icon ion-chevron-right"></i>
      </li>
      <li class="item" ui-sref="app.wordpress_pages.news">
        <i class="icon ion-android-microphone menu-icon"></i> News
        <i class="icon ion-chevron-right"></i>
      </li>
      <li class="item last" ui-sref="app.contact">
        <i class="icon ion-paper-airplane menu-icon"></i> {{ 'MENU.CONTACTS' | translate}}
        <i class="icon ion-chevron-right"></i>
      </li>
    </ul>
    
  </ion-content>
  <ng-include src="'js/shared/views/footer_app.html'">
</ion-view>